@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-4000 {
    animation-delay: 4000ms;
  }
}

html {
  font-family: Poppins;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html {
  scrollbar-color: theme('colors.lime.100') theme('colors.lime.900');
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: theme('colors.lime.900');
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: theme('colors.lime.100');
  border-radius: 15px;
  border: 3px solid theme('colors.lime.900');
}

.styled-scroll {
  scrollbar-color: theme('colors.lime.100') theme('colors.lime.900');
}

.styled-scroll::-webkit-scrollbar {
  width: 10px;
}

.styled-scroll::-webkit-scrollbar-track {
  background: theme('colors.lime.900');
  border-radius: 10px;
}

.styled-scroll::-webkit-scrollbar-thumb {
  background-color: theme('colors.lime.100');
  border-radius: 14px;
  border: 3px solid theme('colors.lime.900');
}

@keyframes progress {
  0% {
    left: -35%;
    right: 100%;
  }
  60%,
  100% {
    left: 100%;
    right: -90%;
  }
}
